@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
	@if ( Body != null ) { <div class="body">@Body</div> }
	@if ( Footer != null ) { <div class="footer">@Footer</div> }
</root>

@code
{
	[Parameter] public RenderFragment Body { get; set; }
	[Parameter] public RenderFragment Footer { get; set; }
}
