@import "/UI/Theme.scss";

InspectorEditor
{
    flex-direction: column;
    width: 100%;
    max-height: 512px;
}

InspectorEditor .body
{
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    gap: 2px;
}

InspectorEditor .footer
{
    flex-direction: row;
    gap: 6px;
    padding-top: 8px;
    flex-shrink: 0;

    Button
    {
        flex-grow: 1;
    }
}
