@import "/UI/Theme.scss";

Vitals
{
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: Poppins;
	color: #cdf;

	.vitals
	{
		position: absolute;
		bottom: $deadzone-y;
		left: $deadzone-x;
		flex-direction: column-reverse;
		gap: 8px;
	}

	.stat
	{
		flex-direction: row;
		align-items: center;
		gap: 16px;
		padding: 16px;
		padding-top: 11px;

		.icon
		{
			width: 28px;
			height: 32px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			flex-shrink: 0;
			margin-top: 6px;
		}

		.right
		{
			flex-direction: column;
			min-width: 180px;
		}

		.bar
		{
			height: 8px;
			background-color: rgba( white, 0.15 );
			border-radius: 2px;
			overflow: hidden;

			.fill
			{
				height: 100%;
				border-radius: 2px;
				transition: width 0.2s ease;
			}
		}

		&.armour
		{
			width: 128px;
		}

		&.health
		{
			min-width: 200px;
		}

		.value
		{
			font-size: 23px;
			height: 32px;
			font-weight: 600;
			text-shadow: 1px 1px 6px black;
		}

		&.health .bar .fill
		{
			background-image: linear-gradient( to right, #cdf, #8ea3ce );
		}

		&.armour .bar .fill
		{
			background-color: #48f;
		}
	}

	.ammo
	{
		position: absolute;
		bottom: $deadzone-y;
		right: $deadzone-x;
		flex-direction: column;
		align-items: flex-end;

		.count
		{
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;
			gap: 4px;
			padding: 16px;
			padding-top: 11px;
			background-image: linear-gradient( to left, rgba( 0, 0, 0, 0.5 ), rgba( 0, 0, 0, 0.3 ) );
			border-radius: 8px;
			backdrop-filter: blur( 20px );
			border: 0.25px solid rgba( black, 0.1 );
		}

		.clip
		{
			font-size: 23px;
			height: 30px;
			font-weight: 600;
			text-shadow: 1px 1px 6px black;
		}

		.separator
		{
			font-size: 18px;
			font-weight: 300;
			opacity: 0.4;
		}

		.reserve
		{
			font-size: 18px;
			font-weight: 500;
			opacity: 0.6;
			text-shadow: 1px 1px 4px black;
		}
	}
}
