@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root>
    <div class="index">@(Index+1)</div>

    @{
        var weapon = GetWeapon();
    }

    @if ( weapon.IsValid() )
    {
        <div class="icon" @ref="IconPanel"></div>
        <div class="name">@weapon.DisplayName</div>
    }
</root>

@code
{
    public PlayerInventory Inventory { get; set; }
    public bool Active { get; set; }
    public bool Hovered { get; set; }

    public int Index { get; set; }

    Panel IconPanel { get; set; }

    BaseCarryable GetWeapon()
    {
        if (!Inventory.IsValid()) return null;

        return Inventory.GetWeaponInSlot(Index);
    }

    public override void Tick()
    {
        base.Tick();

        var weapon = GetWeapon();
        var hasWeapon = weapon.IsValid();

        SetClass("active", Hovered || Active);
        SetClass("empty", !hasWeapon);
        SetClass("selected", Active && hasWeapon);
        SetClass("hovered", Hovered && hasWeapon);
        SetClass("switchable", hasWeapon && weapon.CanSwitch());

        if ( hasWeapon && IconPanel is not null )
        {
            IconPanel.Style.SetBackgroundImage( weapon.DisplayIcon );
        }
    }

    protected override int BuildHash() => HashCode.Combine( GetWeapon(), Hovered, Active );
}
