@import "/UI/Theme.scss";

Inventory
{
    position: absolute;
    bottom: $deadzone-y;
    left: 0;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    color: #cdf;
    gap: 4px;
}
